/* Header styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f6fefff8; /* Warna cerah */
  color: #333;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  cursor: pointer;
}

a:hover {
  background-color: #f0f0f0; /* Warna abu-abu muda saat hover */
}

/* Form styling */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
 
  color: #333;
  background-image: url('bg3.jpg');
  background-size: cover;
  
  
}

.app-shell {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Navigation Link Styling */
.nav-link {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  text-decoration: none;
  color: #000000;
  border: 2px solid #2baaff;
  border-radius: 2px;
  text-align: center;
}

.nav-link:hover {
  background-color: #2baaff;
  color: #fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 600vh; /* Set tinggi sejauh 3 kali tinggi viewport (viewport height) */
  padding-top: 10px; /* Sesuaikan dengan tinggi header */
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #f8f8f8; /* Warna cerah */
  border-bottom: 1px solid #ccc;
}

.profilecv {
  text-align: center;
  padding: 10px;
}

.profilecv img {
  width: 150px;
  height: 170px;
  border-radius: 5%;
}

.containercv {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #f8f8f8; /* Warna cerah */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.5s ease; /* Animasi untuk box-shadow */
}

.containercv:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7); /* Warna highlight saat hover */
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #333;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}
